<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PopActivity"></activity>
        <activity android:name=".dialog.CustomDialogActivity" />
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".event.TouchActivity" />
        <activity android:name=".event.LongClickActivity" />
        <activity android:name=".event.EventMainActivity" />
        <activity android:name=".event.EventActivity" />
        <activity android:name=".dialog.AlertDialogActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".recyclerview.StaggerActivity" />
        <activity android:name=".recyclerview.GridRecyclerViewActivity" />
        <activity android:name=".recyclerview.HorizontalRecyclerViewActivity" />
        <activity android:name=".recyclerview.LinearRecyclerViewActivity" />
        <activity android:name=".recyclerview.RecyclerActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".ButtonActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".gridview.GridViewActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>