<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".lbs.GaodeActivity"></activity>
        <activity android:name=".lbs.BaiduActivity" />
        <activity android:name=".lbs.LBSMainActivity" />

        <service
            android:name=".service.download.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyIntentService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".service.IntentServiceActivity" />
        <activity android:name=".service.ForeActivity" />
        <activity android:name=".service.ServiceActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.ForeService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".service.ThreadActivity" />
        <activity android:name=".service.ServiceMainActivity" />
        <activity android:name=".network.OkHttpActivity" />
        <activity android:name=".network.UrlActivity" />
        <activity android:name=".network.NetworkMainActivity" />
        <activity android:name=".media.VideoActivity" />
        <activity android:name=".media.MediaActivity" />
        <activity android:name=".media.PhotoActivity" />
        <activity android:name=".media.MediaMainActivity" />
        <activity android:name=".notification.Noti2Activity" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".notification.NotiMainActivity" />
        <activity android:name=".broadcast.offline.LoginSuccessActivity" />
        <activity android:name=".broadcast.offline.LoginActivity" />
        <activity android:name=".broadcast.offline.BaseActivity" />
        <activity android:name=".broadcast.OfflineActivity" />
        <activity android:name=".broadcast.LocalActivity" />
        <activity android:name=".broadcast.BroadcastMainActivity" />

        <provider
            android:name=".data.MyDatabaseProvider"
            android:authorities="com.example.myapplication.data"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.myapplication.media"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".data.LitePalActivity" />
        <activity android:name=".data.SqliteActivity" />
        <activity android:name=".data.PasswordActivity" />
        <activity android:name=".data.DataMainActivity" />
        <activity android:name=".data.DataActivity" />
        <activity android:name=".data.SharedActivity" />
        <activity android:name=".permission.ContactsActivity" />
        <activity android:name=".permission.PermissionActivity" />
        <activity android:name=".permission.PermissionMainActivity" />
        <activity android:name=".res.DrawableActivity" />
        <activity android:name=".res.ResMainActivity" />
        <activity android:name=".gesture.ImageActivity" />
        <activity android:name=".gesture.GestureMainActivity" />
        <activity android:name=".gesture.GestureActivity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".PopActivity" />
        <activity android:name=".dialog.CustomDialogActivity" />
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".event.TouchActivity" />
        <activity android:name=".event.LongClickActivity" />
        <activity android:name=".event.EventMainActivity" />
        <activity android:name=".event.EventActivity" />
        <activity android:name=".dialog.AlertDialogActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".recyclerview.StaggerActivity" />
        <activity android:name=".recyclerview.GridRecyclerViewActivity" />
        <activity android:name=".recyclerview.HorizontalRecyclerViewActivity" />
        <activity android:name=".recyclerview.LinearRecyclerViewActivity" />
        <activity android:name=".recyclerview.RecyclerActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".ButtonActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".gridview.GridViewActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>